.create-new-safe { 
    width: 100%; 
    margin-left: auto; 
    box-sizing: border-box; 
    margin-right: auto; 
    display: block; 
    padding-left: 16px; 
    padding-right: 16px;
} 

@media (min-width: 600px){ 
.create-new-safe { 
    padding-left: 24px; 
    padding-right: 24px;
} 
}     

@media (min-width: 1200px){ 
.create-new-safe { 
    max-width: 1200px;
} 
}     

.grid-container { 
    box-sizing: border-box; 
    display: flex; 
    flex-flow: row wrap; 
    width: calc(100% + 24px); 
    margin-left: -24px; 
    -webkit-box-pack: center; 
    justify-content: center;
} 

@media (min-width: 0px){ 
.grid-container { 
    margin-top: 16px;
} 
}     

@media (min-width: 900px){ 
.grid-container { 
    margin-top: 56px;
} 
}   

.grid-item { 
    box-sizing: border-box; 
    margin: 0px; 
    flex-direction: row; 
    flex-basis: 100%; 
    -webkit-box-flex: 0; 
    flex-grow: 0; 
    max-width: 100%;
} 

@media (min-width: 600px){ 
.grid-item { 
    flex-basis: 100%; 
    -webkit-box-flex: 0; 
    flex-grow: 0; 
    max-width: 100%;
} 
}     

@media (min-width: 900px){ 
.grid-item { 
    flex-basis: 100%; 
    -webkit-box-flex: 0; 
    flex-grow: 0; 
    max-width: 100%;
} 
}     

@media (min-width: 1200px){ 
.grid-item { 
    flex-basis: 100%; 
    -webkit-box-flex: 0; 
    flex-grow: 0; 
    max-width: 100%;
} 
}     

@media (min-width: 1536px){ 
.grid-item { 
    flex-basis: 100%; 
    -webkit-box-flex: 0; 
    flex-grow: 0; 
    max-width: 100%;
} 
}     

.grid-container > .MuiGrid-item  { 
    padding-left: 24px;
} 

.grid-item { 
    box-sizing: border-box; 
    margin: 0px; 
    flex-direction: row; 
    flex-basis: 100%; 
    -webkit-box-flex: 0; 
    flex-grow: 0; 
    max-width: 100%;
} 

@media (min-width: 600px){ 
.grid-item { 
    flex-basis: 100%; 
    -webkit-box-flex: 0; 
    flex-grow: 0; 
    max-width: 100%;
} 
}     

@media (min-width: 900px){ 
.grid-item { 
    flex-basis: 66.6667%; 
    -webkit-box-flex: 0; 
    flex-grow: 0; 
    max-width: 66.6667%;
} 
}     

@media (min-width: 1200px){ 
.grid-item { 
    flex-basis: 66.6667%; 
    -webkit-box-flex: 0; 
    flex-grow: 0; 
    max-width: 66.6667%;
} 
}     

@media (min-width: 1536px){ 
.grid-item { 
    flex-basis: 66.6667%; 
    -webkit-box-flex: 0; 
    flex-grow: 0; 
    max-width: 66.6667%;
} 
}     

@media (min-width: 0px){ 
.grid-item { 
    order: 1;
} 
}     

@media (min-width: 900px){ 
.grid-item { 
    order: 0;
} 
}

.grid-item { 
    box-sizing: border-box; 
    margin: 0px; 
    flex-direction: row;
} 

.grid-item { 
    box-sizing: border-box; 
    margin: 0px; 
    flex-direction: row; 
    flex-basis: 100%; 
    -webkit-box-flex: 0; 
    flex-grow: 0; 
    max-width: 100%;
} 

@media (min-width: 600px){ 
.grid-item { 
    flex-basis: 100%; 
    -webkit-box-flex: 0; 
    flex-grow: 0; 
    max-width: 100%;
} 
}     

@media (min-width: 900px){ 
.grid-item { 
    flex-basis: 66.6667%; 
    -webkit-box-flex: 0; 
    flex-grow: 0; 
    max-width: 66.6667%;
} 
}     

@media (min-width: 1200px){ 
.grid-item { 
    flex-basis: 66.6667%; 
    -webkit-box-flex: 0; 
    flex-grow: 0; 
    max-width: 66.6667%;
} 
}     

@media (min-width: 1536px){ 
.grid-item { 
    flex-basis: 66.6667%; 
    -webkit-box-flex: 0; 
    flex-grow: 0; 
    max-width: 66.6667%;
} 
}

.card { 
    background-color: rgb(255, 255, 255); 
    color: rgb(18, 19, 18); 
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; 
    background-image: none; 
    overflow: hidden; 
    border-radius: 6px; 
    box-sizing: border-box; 
    border: 2px solid transparent; 
    box-shadow: none;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.progress-bar { 
    color: rgba(102, 113, 255, 0.8);
} 

.linear-progress-bar { 
    position: relative; 
    overflow: hidden; 
    display: block; 
    height: 4px; 
    z-index: 0; 
    background-color: rgb(220, 222, 224);
} 

.linear-progress-bar:before { 
    content: ""; 
    position: absolute; 
    inset: 0px; 
    background-color: currentcolor; 
    opacity: 0.3;
} 

.progress-bar .linear-progress-bar:before  { 
    display: none;
} 

.progress-bar-fill { 
    width: 100%; 
    position: absolute; 
    left: 0px; 
    bottom: 0px; 
    top: 0px; 
    transition: transform 0.4s linear 0s; 
    transform-origin: left center; 
    background-color: currentcolor;
} 

.card-title { 
    padding: 10px;
    margin: 0px; 
    font-size: 20px; 
    line-height: 26px; 
    font-weight: 700; 
    font-family: "DM Sans", sans-serif; 
    display: block;
} 

.card-content { 
    padding: 16px;
} 

.card-content { 
    padding: 0!important;
} 

.card-content:last-child { 
    padding-bottom: 24px;
}

.divider { 
    margin: 0px; 
    margin-top: 15px;
    flex-shrink: 0; 
    border-width: 0px 0px thin; 
    border-style: solid; 
    border-color: rgb(220, 222, 224);
} 

.input-row { 
    padding: 25px;
    width: 100%; 
} 

.button-container { 
    display: flex; 
    flex-direction: row; 
    -webkit-box-pack: end; 
    justify-content: flex-end; 
    gap: 24px;
} 

.submit-button { 
    height: 40px;
    width: 150px;
    display: inline-flex; 
    -webkit-box-align: center; 
    align-items: center; 
    -webkit-box-pack: center; 
    justify-content: center; 
    position: relative; 
    box-sizing: border-box; 
    -webkit-tap-highlight-color: transparent; 
    outline: 0px; 
    border: 0px rgb(18, 19, 18); 
    margin: 0px; 
    cursor: pointer; 
    user-select: none; 
    vertical-align: middle; 
    appearance: none; 
    text-decoration: none; 
    font-family: "DM Sans", sans-serif; 
    font-size: 0.875rem; 
    min-width: 64px; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; 
    color: rgb(255, 255, 255); 
    background-color: rgb(18, 19, 18); 
    box-shadow: rgba(99, 102, 105, 0.04) 0px 1px 4px, rgba(99, 102, 105, 0.08) 0px 4px 10px; 
    border-radius: 6px; 
    font-weight: bold; 
    line-height: 1.25; 
    text-transform: none; 
    padding: 12px 48px;
} 

.submit-button:hover { 
    text-decoration:  none; 
    background-color:  rgb(60, 60, 60); 
    box-shadow:  none;
}

.title { 
    padding: 10px;
    margin: 0px; 
    font-size: 27px; 
    line-height: 34px; 
    font-weight: 700; 
    font-family: "DM Sans", sans-serif; 
    padding-bottom: 16px;
} 

/* The main input field */
input {
    border: 2px solid #ccc;
    font-size: 16px;
    padding: 10px;
    transition: border-color 0.3s;
  }
  
  /* When the input field is focused */
  input:focus {
    outline: none;
    border-color: rgba(0, 19, 255, 0.8);;
  }
  
  /* When the input field has text */
  input:not(:placeholder-shown) {
    border-bottom-color: rgba(0, 19, 255, 0.8);;
  }
  
  /* Placeholder text */
  input::placeholder {
    color: #999;
    font-style: italic;
  }

label{
    margin: 0px; 
    font-size: 20px; 
    line-height: 26px; 
    font-family: "DM Sans", sans-serif; 
    font-weight: 500; 
    display: block;
}

.input-field{
    padding: 10px;
}


.add-owner { 
    display: inline-flex; 
    -webkit-box-align: center; 
    align-items: center; 
    -webkit-box-pack: center; 
    justify-content: center; 
    position: relative; 
    box-sizing: border-box; 
    -webkit-tap-highlight-color: transparent; 
    background-color: transparent; 
    outline: 0px; 
    border: 0px rgb(18, 19, 18); 
    margin: 5px; 
    cursor: pointer; 
    user-select: none; 
    vertical-align: middle; 
    appearance: none; 
    text-decoration: none; 
    font-family: "DM Sans", sans-serif; 
    min-width: 64px; 
    padding: 8px 11px; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; 
    color: rgb(18, 19, 18); 
    border-radius: 6px; 
    font-weight: bold; 
    line-height: 1.25; 
    text-transform: none; 
    font-size: 16px;
} 

.add-owner:hover { 
    text-decoration:  none; 
    background-color:  rgb(220, 222, 224);
    box-shadow: none;
} 

.add-owners-card {
    padding-top: 20px;
}

.custom-select {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    font-weight: 700;
    color: #555;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .custom-select:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 19, 255, 0.8);;
  }
  
  .custom-select option {
    font-weight: bold;
    color: #555;
    background-color: #f2f2f2;
  }