@font-face {
  font-family: "Walsheim";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://app.superfluid.finance/fonts/GT-Walsheim-Pro-Regular.eot)
      format("eot"),
    url(https://app.superfluid.finance/fonts/GT-Walsheim-Pro-Regular.otf)
      format("otf"),
    url(https://app.superfluid.finance/fonts/GT-Walsheim-Pro-Regular.ttf)
      format("ttf"),
    url(https://app.superfluid.finance/fonts/GT-Walsheim-Pro-Regular.woff)
      format("woff"),
    url(https://app.superfluid.finance/fonts/GT-Walsheim-Pro-Regular.woff2)
      format("woff2");
}
@font-face {
  font-family: "Walsheim";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(https://app.superfluid.finance/fonts/GT-Walsheim-Pro-Medium.eot)
      format("eot"),
    url(https://app.superfluid.finance/fonts/GT-Walsheim-Pro-Medium.otf)
      format("otf"),
    url(https://app.superfluid.finance/fonts/GT-Walsheim-Pro-Medium.ttf)
      format("ttf"),
    url(https://app.superfluid.finance/fonts/GT-Walsheim-Pro-Medium.woff)
      format("woff"),
    url(https://app.superfluid.finance/fonts/GT-Walsheim-Pro-Medium.woff2)
      format("woff2");
}
@font-face {
  font-family: "Walsheim";
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(https://app.superfluid.finance/fonts/GT-Walsheim-Pro-Regular-Oblique.eot)
      format("eot"),
    url(https://app.superfluid.finance/fonts/GT-Walsheim-Pro-Regular-Oblique.otf)
      format("otf"),
    url(https://app.superfluid.finance/fonts/GT-Walsheim-Pro-Regular-Oblique.ttf)
      format("ttf"),
    url(https://app.superfluid.finance/fonts/GT-Walsheim-Pro-Regular-Oblique.woff)
      format("woff"),
    url(https://app.superfluid.finance/fonts/GT-Walsheim-Pro-Regular-Oblique.woff2)
      format("woff2");
}
@font-face {
  font-family: "Walsheim";
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src: url(https://app.superfluid.finance/fonts/GT-Walsheim-Pro-Medium-Oblique.eot)
      format("eot"),
    url(https://app.superfluid.finance/fonts/GT-Walsheim-Pro-Medium-Oblique.otf)
      format("otf"),
    url(https://app.superfluid.finance/fonts/GT-Walsheim-Pro-Medium-Oblique.ttf)
      format("ttf"),
    url(https://app.superfluid.finance/fonts/GT-Walsheim-Pro-Medium-Oblique.woff)
      format("woff"),
    url(https://app.superfluid.finance/fonts/GT-Walsheim-Pro-Medium-Oblique.woff2)
      format("woff2");
}
* {
  box-sizing: inherit;
}

.css-14nybhr {
  flex: 0 0 auto;
  width: 260px;
}

.css-1nrroca {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  scroll-y: auto;
}

body {
  margin: 0;
  color: #12141ede;
  font-weight: 400;
  letter-spacing: 0.15px;
  font-family: "Walsheim", Arial;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #ffffffff;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

.header-container {
  background-color: rgb(255, 255, 255);
  color: rgba(18, 20, 30, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.55, 0, 0.1, 1) 0ms;
  box-shadow: none;
  border-image: initial;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1 0 auto;
  z-index: 1200;
  position: fixed;
  top: 0px;
  outline: 0px;
  left: 0px;
  border-width: 0px 1px 0px 0px;
  border-style: solid;
  border-right-color: rgba(0, 0, 0, 0.12);
  width: 260px;
  border-radius: 0px;
  border-left-color: initial;
  border-top-color: initial;
  border-bottom-color: initial;
}

*,
:before,
:after {
  box-sizing: inherit;
}

.logo-container {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  min-height: 56px;
  height: 88px;
  padding-left: 32px;
  padding-right: 32px;
}

@media (min-width: 600px) {
  .logo-container {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (orientation: landscape) {
  .logo-container {
    min-height: 48px;
  }
}

@media (min-width: 600px) {
  .logo-container {
    min-height: 64px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.address-container {
  padding: 12px 16px;
}

.nav-list {
  list-style: none;
  margin: 0px;
  position: relative;
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: rgba(18, 20, 30, 0.6);
}

.css-16ufse0 {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: end;
  justify-content: flex-end;
  flex: 1 1 0%;
}

.logo-link {
  margin: 0px;
  color: rgb(16, 187, 53);
  text-decoration: none;
}

.address-item {
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  padding: 0px 16px;
  cursor: pointer;
}

.nav-item {
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  color: inherit;
  display: flex;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  text-decoration: none;
  min-width: 0px;
  box-sizing: border-box;
  text-align: left;
  padding: 8px 16px;
  transition: background-color 150ms cubic-bezier(0.55, 0, 0.1, 1) 0ms;
  border-radius: 10px;
}

.nav-item:hover {
  text-decoration: none;
  background-color: rgba(214, 217, 255, 0.8);
}

.nav-item.Mui-selected .MuiSvgIcon-root {
  color: rgba(0, 19, 255, 0.8);
}

.nav-item.Mui-selected {
  background-color: rgba(145, 153, 255, 0.8);
  color: rgba(0, 19, 255, 0.8);
}

.nav-item.Mui-selected:hover {
  background-color: rgba(102, 113, 255, 0.8);
}

.css-1rbrapn {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
  margin-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  color: rgba(18, 20, 30, 0.6);
}

.address-icon-container {
  flex-shrink: 0;
  min-width: auto;
  margin-right: 16px;
}

.address-details {
  flex: 1 1 auto;
  min-width: 0px;
  margin: 4px 0px;
}

.nav-icon {
  color: rgba(130, 146, 173, 0.54);
  flex-shrink: 0;
  display: inline-flex;
  min-width: auto;
  margin-right: 16px;
}

.nav-text {
  flex: 1 1 auto;
  min-width: 0px;
  margin: 4px 0px;
}

.address-icon {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-shrink: 0;
  font-family: Walsheim, Arial;
  font-size: 1.25rem;
  line-height: 1;
  border-radius: 10px;
  overflow: hidden;
  user-select: none;
  color: rgb(255, 255, 255);
  width: 16px;
  height: 36px;
  background: transparent;
}

.address-title {
  margin: 0px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.15px;
  font-family: Walsheim, Arial;
  display: block;
  text-overflow: ellipsis;
  white-space: pre;
  overflow: hidden;
}

.address-status {
  margin: 0px;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.17px;
  line-height: 1.429;
  font-family: Walsheim, Arial;
  color: rgba(0, 19, 255, 0.8);
  display: block;
}

.svg-icon {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentColor;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-transition: fill 200ms cubic-bezier(0.55, 0, 0.1, 1) 0ms;
  transition: fill 200ms cubic-bezier(0.55, 0, 0.1, 1) 0ms;
  font-size: 1.5rem;
}

.nav-link-title {
  margin: 0px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.15px;
  font-family: Walsheim, Arial;
  display: block;
}

.css-6as02q {
  color: rgba(130, 146, 173, 0.54);
  flex-shrink: 0;
  display: inline-flex;
  min-width: auto;
  margin-left: 2px;
  margin-right: 18px;
}

.css-1g8xdli {
  user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentcolor;
  flex-shrink: 0;
  transition: fill 200ms cubic-bezier(0.55, 0, 0.1, 1) 0ms;
  font-size: 1.25rem;
}
